@import "compass";

* {
	@include box-sizing(border-box);
}

html, body {
	background-color: #444;
	font-size: 18px;
	color: #DDD;
	padding: 0;
	margin: 0;
	font-family: Helvetica, Verdana, Arial, Sans;
	min-width: 320px;
}

header {
	padding: 8px 12px;
	font-size: 1.6em;
	border-bottom: solid 3px fade-out(white, 0.8);
	@include box-shadow(0 3px 0 0 fade-out(black, 0.8));
	background: url(coin.png) right 1.6em no-repeat scroll #666;
	@include background-size(150px);
	@include transition(background-position 500ms);
	&.ready {
		background-position: right -0.8em;
	}
}

#calculator {
	bottom: 0;
	position: absolute;
	width: 100%;
}

#controls, #result {
	position: relative;
	width: 100%;
}

#result {
	color: white;
	line-height: 0;
	background: black;
	padding: 0 12px;
	@include transition(padding 500ms, line-height 500ms);
	&.ready {
		line-height: 1;
		padding: 8px 12px;
	}
	small {
		font-size: smaller;
		color: #CCC;
	}
	text-align: right;
}

#type, #calculate {
	line-height: 1;
	padding: 8px 12px;
	font-size: 16px;
	-webkit-appearance: none;
	background-color: fade-out(white, 0.9);
	border: none 0;
	margin: 0;
	@include border-radius(0);
	@include box-shadow(0 0 0 0);
	color: white;
	@include transition(background-color 300ms);
	&:focus {
		outline: none 0;
		background-color: fade-out(white, 0.8);
	}
}

#tip {
	color: #444;
	font-size: 69%;
	padding: 4px 6px;
	text-align: center;
	background-color: #EEE;
}

#type {
	top: 0;
	right: 0;
	position: absolute;
	margin: 1px;
}

#calculate, #result {
	width: 100%;
	padding-right: 8em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#rates {

	margin: 0;
	padding: 0;

	li {
		
		list-style: none;
		padding: 8px 12px;
		font-family: Monaco, Mono;
		border-bottom: solid 1px fade-out(white, 0.5);

		strong {
			width: 6em;
			text-transform: uppercase;
			padding-right: 1em;
			text-align: right;
		}

		strong, span, a {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
		}

		a {
			float: right;
			font-size: smaller;
			line-height: 1.8;
			color: #CCC;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}

		&:last-child {
			border-bottom: none;
		}

	}
}

.bull { background-color: #440000; }
.bear { background-color: #004400; }